


h1, h2, h3, h4 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding-top: 1.5rem;
    color: #E93B81;
}

p {
    font-family: 'Montserrat'
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navUser{
    padding-bottom:0;
    margin-bottom: 0;
    font-size: 13px;
}

.navUserInfo{
    padding-top:0;
    margin-top:0;
    font-size: 13px;
}

.cardLink{
    padding-left: 15px;
}



