


h1, h2, h3, h4 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding-top: 1.5rem;
    color: #E93B81;
}

p {
    font-family: 'Montserrat'
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    /*color: white;*/
}

/* Centered text */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navUser{
    padding-bottom:0;
    margin-bottom: 0;
    font-size: 13px;
}

.navUserInfo{
    padding-top:0;
    margin-top:0;
    font-size: 13px;
}

.cardLink{
    padding-left: 15px;
}

.buttonPadding {
    display: flex;
    margin-bottom: 15px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #3c73e2;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

