<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
    <link th:href="@{/css/secondary.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <h2 class="display-3">Shopping Cart</h2>
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card mb-3" style="max-width: 1000px;" th:each="product : ${products}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="${product.photo}" class="img-fluid rounded-start" alt="..." width="auto" height="100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <p class="card-text">$[[${#numbers.formatDecimal(product.price, 1, 2, 'POINT')}]]</p>
                            <p class="card-text" th:text="${product.description}"></p>
                            <a th:href="@{/removeItem/{id}(id=${product.id})}" class="card-link">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="listAlignLeft">Subtotal</p>
                        <p class="listAlignRight">$[[${#numbers.formatDecimal(subtotal, 1, 2, 'POINT')}]]</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listAlignLeft">Tax: </p>
                        <p class="listAlignRight">$[[${#numbers.formatDecimal(tax, 1, 2, 'POINT')}]]</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listAlignLeft">Shipping: </p>
                        <p class="listAlignRight">$[[${#numbers.formatDecimal(shipping, 1, 2, 'POINT')}]]</p>
                    </li>
                </ul>
                <div class="card-footer">
                    <p class="listAlignLeft">Total: </p>
                    <p class="listAlignRight">$[[${#numbers.formatDecimal(total, 1, 2, 'POINT')}]]</p>
                </div>
            </div>
            <span class="buttonAlign">
                <a class="btn btn-primary" th:href="@{/placeOrder}" role="button">Place Order</a>
            </span>
        </div>
    </div>
    <a th:href="@{/flowers}" type="button" class="btn btn-outline-primary col-sm-2">Continue shopping</a>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>