<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category: Wedding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet" >




</head>
<body>
<!--nav bar from base.html-->
<div th:replace="base :: navlinks"></div>

<div class="container-md">

    <div>
        <h3 class="display-3">Wedding Flowers</h3>
    </div>

    <div  class="row row-cols-2 row-cols-md-3 g-4">
        <div th:each="product : ${category.products}" class="card-deck">
            <div class="card" align="center">
                <img th:src="${product.photo}" width="200" height="200" class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">[[${product.name}]] </h5>
                    <p class="card-text">$[[${#numbers.formatDecimal(product.price, 1, 2, 'POINT')}]]</p>
                    <a th:href="@{/addToCart/{id}(id=${product.id})}" class="btn btn-primary btn-sm" style="margin: 1rem ">Add to Cart</a>
                    <a th:href="@{/productDetails/{id}(id=${product.id})}" class="btn btn-primary btn-sm">View Details</a>
                    <br>
                    <span sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/updateProduct/{id}(id=${product.id})}" class="card-link cardLink">Update</a>
                        <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="card-link">Delete</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>








<!--footer-->
<div th:fragment="footer" class="container-md">
    <p style="text-align: center; background-color: #B6C9F0; padding: 1rem;">Ari Floral Studio ~ est.2021</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>